#app {
  border: 1px solid black;
  width: 100vw;
  height: 500px;
  overflow: hidden;
}

.header {
  display: flex;
}

.x_blank {
  flex-basis: 100px;
}

#x_axis {
  flex: 1;
  height: 50px;
}

.table_wrapper {
  display: flex;
  height: 450px;
  overflow: auto;
}

#y_axis {
  flex-basis: 100px;
  background-color: aqua;
}

#table {
  flex: 1;
}
