#app {
  border: 1px solid black;
  width: 100vw;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}

#x_axis {
  height: 50px;
  position: fixed;
  background: white;
  width: 100%;
}

#axis {
  flex-basis: 100px;
  
}

#table {
  flex: 1;
}


#chart {
  display: flex;
  flex-direction: row;
}

.axis {
  flex-basis: 100px;
}

.graph {
  flex: 1;
  overflow: scroll;
}
